<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'list', books: @books %>
    </div>
    <div class="col-md-8 offset-md-1">
    
<h2 class="mt-3">Book detail</h2>
      <table class="table">
        <tbody>
          <tr></tr>
            <td><%= image_tag @user.get_profile_image(100,100) %><br>
                          <%= link_to @user.name, user_path(@user.id) %></td>
            <td><%= @book.title %></td>
            <td><%= @book.body %></td>
            <td> <% if @book.user == current_user %>
              <%= link_to "Edit", edit_book_path(@book.id), method: :edit %>
              <% end %></td>
            <td> <% if @book.user == current_user %>
                  <%= link_to "Destroy", book_path(@book), method: :delete %>
                <% end %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>